<ion-view view-title="Document">
  <ion-content>
    <div class="list card">

        <div class="item item-divider">
            <h1 class = "center docTitle">{{document.title}}</h1>
            <h6>{{document.priority}}</h6>
        </div>

    <div class="item item-body">

        <ion-scroll class="col-50" zooming="true"
        style="width: 100%; height: 100%">
            <img class="full-image" ng-show = "document.images.length > 0" id = "documentImage">
        </ion-scroll>

        <p>
          {{document.body}}
        </p>

    </div>

  </div>
  </ion-content>
</ion-view>
