<ion-view view-title="Emergency">
  <ion-content>
      <form name = "emergencyForm">
      <div class="list card">
          <div class="item item-divider">
              <h1 class="title center">MediBook+</h1>
          </div>

      <div class="item item-body">

      <h2 class = "center">Welcome to the emergency page. Please enter a username/email, and their encryption key to access their medical info. These are private documents, and should <b>only be used in emergencies</b></h2>

            <label class="item item-input">
              <span class="input-label">UserId</span>
              <input type="email" name = "emerEmail" ng-model="emergency.userId">
            </label>
            <label class="item item-input">
              <span class="input-label">Encryption Key</span>
              <input type="password" ng-model="emergency.key">
            </label>

            <label class="item">
                <button class="button button-outline button-positive"
                ng-click = "emergencyLogin()"
                ng-disabled = "loading ||
                !emergencyForm.emerEmail.$valid ||
                !emergency.key ||
                emergency.key.length < 8">Submit</button>
            </label>
        </div>
      </div>
  </form>
  </ion-content>
</ion-view>
