<ion-view view-title="Emergency">
  <ion-content class = "appContainer">
      <form name = "emergencyForm">
      <div class="list card">
          <div class="item item-divider">
              <h1 class="title center">MediBook+</h1>
          </div>

      <div class="item item-body">

      <h2 class = "center">Welcome to the emergency page. Please enter a username/email, and their encryption key to access their medical info. These are private documents, and should <b>only be used in emergencies</b></h2>

            <label class="item item-input">
              <span class="input-label">UserId</span>
              <input type="email" name = "emerEmail" ng-model="emergency.userId">
            </label>
            <label class="item item-input">
              <span class="input-label">Encryption Key</span>
              <input type="password" ng-model="emergency.key">
            </label>

            <label class="item">
                <button class="button button-outline button-positive"
                ng-click = "emergencyLogin()"
                ng-disabled = "loading ||
                !emergencyForm.emerEmail.$valid ||
                !emergency.key ||
                emergency.key.length < 8">Submit</button>
            </label>
        </div>
      </div>
  </form>

   <!-- Loading Spinner -->
    <div class = "feedSpinnerContainer" ng-show = "loading">
        <ion-spinner class = "spinner-positive ionicSpinner"></ion-spinner>
        <h4 class = "center spinnerText">Downloading and decrypting the documents. This may take a short while...</h4>
    </div>

    <!--List of documents -->
    <div class="row">
      <div class="col-50" ng-repeat="doc in documents | filter:searchText track by $index " >
          <div class = "list card" ng-click = "navigatePage('app.single', {documentId: doc._id})">
              <div class="item item-avatar noCircle">
                <img src="images/icon_document.png">
                <h2>{{doc.title}}</h2>
                <p>{{priorityArray[doc.priority - 1]}}</p>
              </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
