<ion-view view-title="Home">
  <ion-content class = "appContent">

      <!-- Loading Spinner -->
      <div class = "feedSpinnerContainer" ng-show = "loading">
          <ion-spinner class = "spinner-positive ionicSpinner"></ion-spinner>
          <h4 class = "center spinnerText">Downloading and decrypting your documents. This may take a short while...</h4>
      </div>

    <ion-list ng-hide = "loading">
      <div class = "list card">

          <!-- Title of App -->
          <h1 class = "center">MediBook+</h1>


              <label class="item item-input searchOuter">
                <input type="text" class = "searchText" ng-model="searchText" placeholder="Search by title, priority, or description">
              </label>

          <div ng-if "user.photo" class="item item-avatar" style="height: 100px;">
            <img class = "center" style="margin-left: calc(50% - 45px);
                height: 70px;
                width: 70px;
                max-width: initial;
                max-height: initial;" src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Samantha_Ruth_Prabhu.jpg">
          </div>

          <div ng-if = "user.name || user.dob" class="item item-body">
              <h2 class = "center homeUser" ng-if = "user.name">User: {{user.name}}</h2>
              <h3 class = "center" ng-if = "user.dob">Date Of Birth: {{user.dob}}</h3>
          </div>

          <h5 class = "center">This app contains pertinant medical information for this user.</h5>
    </div>
    </ion-list>

    <div class="row">
        <div class="col-50" ng-repeat="doc in documents | filter:searchText track by $index " >
            <div class = "list card" ng-click = "navigatePage('app.single', {documentId: doc._id})">
                <div class="item item-avatar noCircle">
                  <img src="images/icon_document.png">
                  <h2>{{doc.title}}</h2>
                  <p>{{priorityArray[doc.priority - 1]}}</p>
                </div>
          </div>
        </div>
    </div>

    <div class = "feedSpinnerContainer" ng-if = "documents.length < 1 && loading == false">
        <h4 class = "center">No Documents Found. Please Create one by tapping the + above!</h4>
    </div>


  </ion-content>
</ion-view>
