<ion-view view-title="New">
  <ion-content ng-controller = "NewCtrl">

    <form method="post" enctype="multipart/form-data">

    <!-- Div to hold image or filename -->
    <ion-item class = "uploadContainer">

        <div class = "center">
            <img class = "cameraPhoto"
             src = "" id="uploadedImage"/>
        </div>
    </ion-item>


    <!-- Not allowing pdfs and things yet -->
    <!-- <button class="button button-outline button-positive newButton"
    ng-click = "docSelect()">Add File From Documents</button>

    <input type="file" id="fileInput" onchange="angular.element(this).scope().getDoc(this)" style="display: none;"/> -->
    <div class = "row cameraContainer" ng-if = "mobileDevice">
        <button class="button button-outline button-positive newButton"
        ng-click = "getPhoto()">Open Gallery</button>

        <button class="button button-outline button-positive newButton"
        ng-click = "takePhoto()">Capture Picture</button>
    </div>

    <div ng-if = "!mobileDevice">
        <button class="button button-outline button-positive"
        accept = ".png, .jpg"
        ng-click = "getPhoto()">Open Image</button>
    </div>


    <label class="item item-input">
      <span class="input-label newTitle">Title</span>
      <input type="text" ng-model="newDoc.title"
      class = "newTitle"
      placeholder="Document Title">
    </label>

    <label class="item item-input">
      <span class="input-label descText">Description</span>
      <textarea rows="4" cols="3"
      ng-model="newDoc.desc" placeholder="Enter Description Here"></textarea>
    </label>

    <label class="item item-input item-select">
        <div class="input-label">
          Priority
        </div>
        <select ng-model = "newDoc.priority">
          <option value = "3">High</option>
          <option value = "2" ng-selected="true">Medium</option>
          <option value = "1">Low</option>
        </select>
    </label>

    <button class="button button-outline button-positive newSubmitButton"
    ng-disabled = "!newDoc.title ||
    !newDoc.desc"
    ng-click = "submitDoc()">Submit</button>


    </form>
  </ion-content>
</ion-view>
