<ion-view view-title="New">
  <ion-content ng-controller = "NewCtrl">

    <form method="post" enctype="multipart/form-data">

    <!-- Div to hold image or filename -->
    <ion-item class = "row uploadContainer" ng-repeat = "file in addedFiles">

        <!-- Show the IMage -->
        <img class = "cameraPhoto col-50"
        ng-if = "file.endsWith('.jpg') ||
        file.endsWith('.png') ||
        file.endsWith('.jpeg')"
         ng-src = "{{file}}" />

         <!-- Show the file name if it is just a file -->
         <div class = "center"
         ng-if = "!file.endsWith('.jpg') &&
         !file.endsWith('.png') &&
         !file.endsWith('.jpeg')">{{file}}</div>

    </ion-item>

    <!-- Not allowing pdfs and things yet -->
    <!-- <button class="button button-outline button-positive newButton"
    ng-click = "docSelect()">Add File From Documents</button>

    <input type="file" id="fileInput" onchange="angular.element(this).scope().getDoc(this)" style="display: none;"/> -->
    <div class = "row cameraContainer">
        <button class="button button-outline button-positive newButton"
        ng-click = "getPhoto()">Open Gallery</button>

        <button class="button button-outline button-positive newButton"
        ng-click = "takePhoto()">Capture Picture</button>
    </div>

    <label class="item item-input">
      <span class="input-label newTitle">Title</span>
      <input type="text" ng-model="newDoc.title"
      class = "newTitle"
      placeholder="Enter Document Title">
    </label>

    <label class="item item-input">
      <span class="input-label descText">Description</span>
      <textarea rows="4" cols="3"
      ng-model="newDoc.desc" placeholder="Enter Description Here"></textarea>
    </label>

    <button class="button button-outline button-positive newSubmitButton"
    ng-disabled = "!newDoc.title ||
    !newDoc.desc"
    ng-click = "submitDoc()">Submit</button>


    </form>
  </ion-content>
</ion-view>
